body{
    height: 100%;
    width: 100%;
    margin-top: 2%;
}
#container
{
    position: relative;
    height: 400px;
    width: 90%;
    border: 3px solid darkgray;
    background-color: aliceblue;
    margin-left: 4%;
    background:#FFF;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 5px 10px #777;
    box-shadow: 0 5px 10px #777;
    overflow: hidden; 
}
#bird
{
    position: absolute;
    background: url("http://allaboutwindowsphone.com/images/appicons/281318.png");
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}
.pole
{
    position: absolute;
    height: 130px;
    width: 50px;
    background-color: red;
    right: -50px;
}
#pole1
{
    top:0;
}
#pole2
{
    bottom: 0;
}
#score_div
{
    text-align: center;
    font-size: 40px;
}
#restart_btn
{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;

}