body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    position: relative; 
    height: 400px;
    width: 90%;
    border: 4px solid darkgrey;
    background: url("https://0.s3.envato.com/files/139863346/background.jpg");
    margin-left: 4%;
    overflow: hidden;
}

#bird {
    position: absolute;
      background: url("http://allaboutwindowsphone.com/images/appicons/281318.png");
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;
    height: 130px;
    width: 50px;
    background-color: #378e86;
    right: -50px;
    border-radius: 5px;  
}

#pole_1 {
    top: 0;
}

#pole_2 {
    bottom: 0;
}

#score_div {
    text-align: center;
    font-size: 40px;
}

#restart_btn {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color:darkslategray;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
    font-family: sans-serif;
    font-weight: 900;
}
*
{
    font-family: sans-serif;
}
h4{
    font-family: sans-serif;
}
